.tick,.not_tick, .cross{
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.todoitems{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    background: #3d3c3c09;
    border-bottom: 2px solid #ff6739;

}

.todoitems-container{
    display: flex;
}

.todoitems-text{
    padding-left: 10px;
    color: #404040;
    font-size: 16px;
}

.todoitems-cross-icon{
    cursor: pointer;
    padding-right: 5px;
}

.line-through{
    text-decoration: line-through solid #383838 3px;
}