.todo{
    width: 300px;
    min-height: 432px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    padding: 0px  30px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}

.todo-header{
    margin-top: 24px;
    color: #002765;
    font-size: 28px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.todo-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.todo-input{
    border-radius: 10px;
    background: #edeef0;
    border: none;
    outline: none;
    width: 300px;
    height: 35px;
    padding-left: 15px;
    font-size: 0.8rem;
    /* margin-right: 20px; */
}

.todo-add-btn{
    border-radius: 10px;
    background: #ff6739;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    color: #fff;
    font-size: 16px;
    font-weight: 400px;
    cursor: pointer;
}
